In this file, the goal to create a .csv file containing, for each region and for each subject in PEPR_Marseille for each subject in PEPR_Marseille (including those who were not selected) the quatiles of the cross entropy, the chamfer distance and the anomaly One-class SVM score among the same region for all the selected subjects as the file containing the reconstruction_error

In [1]:
import numpy as np
import pandas as pd
import os
import re

In [2]:
dir_path= "/neurospin/tmp/fred/models/2025-11-10"

In [3]:
selected_index = np.load("/neurospin/dico/fred/Runs/01_betaVAE/Program/2023_jlaval_STSbabies/betaVAE/notebooks/fred/PEPR_Marseille/All the subjects/histogram_non_zero/index_to_save.npy")

In [4]:
def compute_quantile(L,a):
    r=np.mean(L <= a)
    return r

In [5]:

def read_error_csv(path):

    if os.path.exists(path):
        df = pd.read_csv(path)
        return df
    return None

In [6]:
subfolders = sorted([
    f for f in os.listdir(dir_path)
    if os.path.isdir(os.path.join(dir_path, f))
])


for i, folder in enumerate(subfolders):
    print(i)
    regions=re.match(r"(.*?(left|right))", folder).group(1)

    current_path = os.path.join(dir_path, folder, "PEPR_Marseille")

    df_entropy =pd.DataFrame(columns=["ID", "Cross_entropy"])
    df_Chamfer =pd.DataFrame(columns=["ID", "Chamfer distance"])
    df_SVM =pd.DataFrame(columns=["ID", "Anomaly_score"])

    entropy_file=os.path.join(current_path, "Reconstruction_error.csv")
    chamfer_file=os.path.join(current_path, "Chamfer_distance.csv")
    SVM_file=os.path.join(current_path, "Residualisation_Score_SVM.csv")

    entropy=read_error_csv(entropy_file)
    chamfer=read_error_csv(chamfer_file)
    SVM=read_error_csv(SVM_file)

    values_ref_entropy = entropy.iloc[selected_index, -1].to_numpy()
    values_ref_chamfer = chamfer.iloc[selected_index, -1].to_numpy()
    values_ref_SVM = SVM.iloc[selected_index, -1].to_numpy()

    entropy.iloc[:, -1] = entropy.iloc[:, -1].apply(lambda x: compute_quantile(values_ref_entropy,x))
    chamfer.iloc[:, -1] = chamfer.iloc[:, -1].apply(lambda x: compute_quantile(values_ref_chamfer,x))
    SVM.iloc[:, -1] = SVM.iloc[:, -1].apply(lambda x: compute_quantile(values_ref_SVM,x))

    entropy.to_csv(os.path.join(current_path, "Quantiles_Reconstruction_error.csv"))
    chamfer.to_csv(os.path.join(current_path, "Quantiles_Chamfer_distance.csv"))
    SVM.to_csv(os.path.join(current_path, "Quantiles_Residualisation_Score_SVM.csv"))

0

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55

In [7]:
import pandas as pd

In [8]:
df= pd.read_csv("/neurospin/tmp/fred/models/2025-11-10/FCLp-subsc-FCLa-INSULA_left_UKB_15-59-28_107/PEPR_Marseille/Quantiles_Chamfer_distance.csv")

In [9]:
df

      Unnamed: 0.1  Unnamed: 0                ID  Chamfer distance
0                0           0  0001BAR_27112016          0.019394
1                1           1  0001BUC_17062014          0.981818
2                2           2  0001FLO_02052012          0.602424
3                3           3  0001FRE_16032015          0.998788
4                4           4  0001GRE_25112014          1.000000
...            ...         ...               ...               ...
1030          1030        1030  0269GRE_07122021          0.980606
1031          1031        1031  0270GRE_22012022          0.596364
1032          1032        1032  0271GRE_19012022          0.896970
1033          1033        1033  0272GRE_22032022          0.173333
1034          1034        1034  0273GRE_30032022          0.585455

[1035 rows x 4 columns]

In [10]:
import numpy as np

In [11]:
selected_index = np.load("/neurospin/dico/fred/Runs/01_betaVAE/Program/2023_jlaval_STSbabies/betaVAE/notebooks/fred/PEPR_Marseille/All the subjects/histogram_non_zero/index_to_save.npy")

In [12]:
df = df.loc[selected_index].reset_index(drop=True)
df

     Unnamed: 0.1  Unnamed: 0                ID  Chamfer distance
0               0           0  0001BAR_27112016          0.019394
1               2           2  0001FLO_02052012          0.602424
2               6           6  0001HUH_30112018          0.946667
3               7           7  0001KCH_08042010          0.197576
4               8           8  0001LYO_19012015          0.993939
..            ...         ...               ...               ...
820          1027        1027  0265GRE_08102013          0.922424
821          1028        1028  0266GRE_29092021          0.529697
822          1029        1029  0268GRE_30112021          0.699394
823          1033        1033  0272GRE_22032022          0.173333
824          1034        1034  0273GRE_30032022          0.585455

[825 rows x 4 columns]

In [13]:
df = df.iloc[:,1]
df

0         0
1         2
2         6
3         7
4         8
       ...
820    1027
821    1028
822    1029
823    1033
824    1034
Name: Unnamed: 0, Length: 825, dtype: int64