In [1]:
import numpy as np

S.C sylv left

In [2]:
input= np.load("/neurospin/dico/data/deep_folding/models/2025-11-10/SC-sylv_left_UKB_16-20-20_72/input.npy")
output= np.load("/neurospin/dico/data/deep_folding/models/2025-11-10/SC-sylv_left_UKB_16-20-20_72/output.npy")
mask= np.load("/neurospin/dico/data/deep_folding/current/datasets/UkBioBank40/crops/2mm/S.C.-sylv./mask/Lmask.npy")

In [3]:
print(input.shape)
print(output.shape)
print(mask.shape)

(1, 1, 44, 40, 56)
(1, 1, 2, 44, 40, 56)
(38, 36, 49, 1)

STs right

In [4]:
input= np.load("/neurospin/dico/data/deep_folding/models/2025-11-10/STs_right_UKB_18-17-47_128/input.npy")
output= np.load("/neurospin/dico/data/deep_folding/models/2025-11-10/STs_right_UKB_18-17-47_128/output.npy")
mask= np.load("/neurospin/dico/data/deep_folding/current/datasets/UkBioBank40/crops/2mm/S.T.s./mask/Rmask.npy")

In [5]:
print(input.shape)
print(output.shape)
print(mask.shape)

(1, 1, 28, 56, 56)
(1, 1, 2, 28, 56, 56)
(24, 52, 51, 1)

S.Po.C. left

In [6]:
input= np.load("/neurospin/dico/data/deep_folding/models/2025-11-10/SPoC_left_UKB_16-39-29_183/input.npy")
output= np.load("/neurospin/dico/data/deep_folding/models/2025-11-10/SPoC_left_UKB_16-39-29_183/output.npy")
mask= np.load("/neurospin/dico/data/deep_folding/current/datasets/UkBioBank40/crops/2mm/S.Po.C./mask/Rmask.npy")

In [7]:
print(input.shape)
print(output.shape)
print(mask.shape)

(1, 1, 44, 40, 48)
(1, 1, 2, 44, 40, 48)
(37, 37, 42, 1)

OCCIPITAL_right

In [8]:
input= np.load("/neurospin/dico/data/deep_folding/models/2025-11-10/OCCIPITAL_right_UKB_16-15-21_200/input.npy")
output= np.load("/neurospin/dico/data/deep_folding/models/2025-11-10/OCCIPITAL_right_UKB_16-15-21_200/output.npy")
mask= np.load("/neurospin/dico/data/deep_folding/current/datasets/UkBioBank40/crops/2mm/OCCIPITAL/mask/Rmask.npy")

In [9]:
print(input.shape)
print(output.shape)
print(mask.shape)

(1, 1, 44, 32, 48)
(1, 1, 2, 44, 32, 48)
(35, 30, 46, 1)

FColl-SRh_left

In [13]:
input= np.load("/neurospin/tmp/fred/models/2025-11-10/FColl-SRh_left_UKB_16-07-20_187/input.npy")
output= np.load("/neurospin/tmp/fred/models/2025-11-10/FColl-SRh_left_UKB_16-07-20_187/output.npy")
mask= np.load("/neurospin/dico/data/deep_folding/current/datasets/UkBioBank40/crops/2mm/F.Coll.-S.Rh./mask/Lmask.npy")

In [14]:
print(input.shape)
print(output.shape)
print(mask.shape)

(1, 1, 36, 64, 40)
(1, 1, 2, 36, 64, 40)
(29, 62, 36, 1)

In [15]:
import pandas as pd

In [16]:
a = pd.read_csv("/neurospin/tmp/fred/models/2025-11-10/SCall_right_UKB_16-51-26_60/Reconstruction_error.csv")

In [17]:
a

       Unnamed: 0            0
0         1000021  1289.416016
1         1000325  1074.599121
2         1000458  1141.807251
3         1000575  1302.418701
4         1000606  1143.615112
...           ...          ...
42428     6023847   776.227539
42429     6024038  1249.973022
42430     6024150   923.503113
42431     6024379  1131.094971
42432     6024754  1172.547852

[42433 rows x 2 columns]