In this file, the goal is to select the 3 first subject that we'll study

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
error_PEPR= pd.read_csv("/neurospin/tmp/fred/models/2025-11-10/SC-sylv_right_UKB_16-20-03_123/PEPR_Marseille/Reconstruction_error.csv")

In [3]:
error_PEPR

            Unnamed: 0            0
0     0001BAR_27112016  2398.638672
1     0001BUC_17062014  3461.456299
2     0001FLO_02052012  3145.983887
3     0001FRE_16032015  2839.419434
4     0001GRE_25112014  3589.877930
...                ...          ...
1030  0269GRE_07122021  4711.532715
1031  0270GRE_22012022  4372.996582
1032  0271GRE_19012022  3350.373291
1033  0272GRE_22032022  3720.735596
1034  0273GRE_30032022  2904.081055

[1035 rows x 2 columns]

In [4]:
selected_index = np.load("/neurospin/dico/fred/Runs/01_betaVAE/Program/2023_jlaval_STSbabies/betaVAE/notebooks/fred/PEPR_Marseille/All the subjects/histogram_non_zero/index_to_save.npy")

In [5]:
error_PEPR= error_PEPR.loc[selected_index].reset_index(drop=True)

In [6]:
error_PEPR

           Unnamed: 0            0
0    0001BAR_27112016  2398.638672
1    0001FLO_02052012  3145.983887
2    0001HUH_30112018  3049.438965
3    0001KCH_08042010  2422.939941
4    0001LYO_19012015  2544.878662
..                ...          ...
820  0265GRE_08102013  3865.254639
821  0266GRE_29092021  3136.121094
822  0268GRE_30112021  4527.695312
823  0272GRE_22032022  3720.735596
824  0273GRE_30032022  2904.081055

[825 rows x 2 columns]

Le patient ayant la plus grande erreur de reconstruction sur le sillon central droit

In [16]:
j = error_PEPR.iloc[:, 1].idxmax()
j

604

In [17]:
error_PEPR.loc[j]

Unnamed: 0    0099ROT_13042016
0                  6525.453613
Name: 604, dtype: object

Le patient ayant la plus petite erreur de reconstruction sur le sillon central droit

In [18]:
j = error_PEPR.iloc[:, 1].idxmin()
j

587

In [19]:
error_PEPR.loc[j]

Unnamed: 0    0092MIL_05022019
0                  2202.737793
Name: 587, dtype: object

Un patient choisi aléatoirement

In [20]:
import random as rd

In [22]:
j= rd.randint(0,824)
j

178

In [23]:
error_PEPR.loc[j]

Unnamed: 0    0013STA_13012014
0                  2506.012207
Name: 178, dtype: object

Choix d'un sujet dont la Lesion Type est 2.2:Polymicrogyria

In [7]:
df_PEPR = pd.read_csv("/neurospin/dico/data/human/PEPR_Marseille/PourTheotime.csv", sep="\t")

In [8]:
df_PEPR

     Patient Code MR negative          Lesion type Position (Intranat XYZ)
0         0001BAR           y      0: MRI negative                     NaN
1         0001BUC           y      0: MRI negative                     NaN
2         0001FLO           n             2.1: FCD                70 70 98
3         0001FRE           y                  NaN                     NaN
4         0001GRE           y      0: MRI negative                     NaN
...           ...         ...                  ...                     ...
1436      0277GRE           n        10: Resection              49 123 130
1437      0278GRE           n  2.2: Polymicrogyria               55 157 91
1438      0280GRE           y      0: MRI negative                     NaN
1439      0281GRE           y      0: MRI negative                     NaN
1440      0282GRE           y      0: MRI negative                     NaN

[1441 rows x 4 columns]

In [12]:
#On sélectionne la première ligne dont la valeur de la colonne "Lésion type" est Polymicrogyria
row = df_PEPR[df_PEPR["Lesion type"] == "2.2: Polymicrogyria"].iloc[0]
row

Patient Code                           0006PLS
MR negative                                  n
Lesion type                2.2: Polymicrogyria
Position (Intranat XYZ)              74 168 96
Name: 123, dtype: object

In [ ]:
#On cherche la ligne correspondant au sujet 0006PLS
mask = error_PEPR.iloc[:, 0].astype(str).str[:7] == "0006PLS"
rows = error_PEPR[mask]
indexes = rows.index

In [14]:
print(rows)
print(indexes)

          Unnamed: 0           0
60  0006PLS_28012013  4127.32373
Index([60], dtype='int64')

Pour le premier sujet dont le type de Lésion (0003GRE), j=13

A présent, on veut l'indice du sujet 0005GRE

In [18]:
idx = error_PEPR.index[error_PEPR.iloc[:, 0] == "0005GRE_26062015"][0]
idx

np.int64(37)

In [19]:
error_PEPR.iloc[37]

Unnamed: 0    0005GRE_26062015
0                  3788.713379
Name: 37, dtype: object

On cherche quelques patients dont le type de Lésion est "Resection"

In [20]:
#On sélectionne la première ligne dont la valeur de la colonne "Lésion type" est Resection
df_Resection = df_PEPR[df_PEPR["Lesion type"] == "10: Resection"]

In [21]:
df_Resection

     Patient Code MR negative    Lesion type Position (Intranat XYZ)
9         0001MAR           n  10: Resection              95 118 130
34      0002NEC16           n  10: Resection                95 65 68
47        0003GRE           n  10: Resection               112 87 88
49        0003LYO           n  10: Resection             128 113 139
50        0003MAR           n  10: Resection              37 139 121
...           ...         ...            ...                     ...
1418      0263MIL           n  10: Resection              115 107 79
1422    0265GRE21           n  10: Resection              139 111 56
1429      0270GRE           n  10: Resection              39 118 114
1430      0271GRE           n  10: Resection               113 85 81
1436      0277GRE           n  10: Resection              49 123 130

[165 rows x 4 columns]