In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
error_PEPR= pd.read_csv("/neurospin/tmp/fred/models/2025-11-10/SC-sylv_right_UKB_16-20-03_123/PEPR_Marseille/Reconstruction_error.csv")

In [3]:
error_PEPR

            Unnamed: 0            0
0     0001BAR_27112016  2398.638672
1     0001BUC_17062014  3461.456299
2     0001FLO_02052012  3145.983887
3     0001FRE_16032015  2839.419434
4     0001GRE_25112014  3589.877930
...                ...          ...
1030  0269GRE_07122021  4711.532715
1031  0270GRE_22012022  4372.996582
1032  0271GRE_19012022  3350.373291
1033  0272GRE_22032022  3720.735596
1034  0273GRE_30032022  2904.081055

[1035 rows x 2 columns]

In [4]:
error_PEPR.loc[1011]

Unnamed: 0    0248GRE_19112019
0                  2044.368042
Name: 1011, dtype: object