Le but de ce notebbok est de trouver des sujets dont le type de lésion est Irm_Negative

In [91]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [92]:
df_PEPR= pd.read_excel("/neurospin/dico/data/human/PEPR_Marseille/PourTheotime.ods", engine="odf")

In [93]:
df_PEPR

     Patient Code MR negative          Lesion type Position (Intranat XYZ)
0         0001BAR           y      0: MRI negative                     NaN
1         0001BUC           y      0: MRI negative                     NaN
2         0001FLO           n             2.1: FCD                70 70 98
3         0001FRE           y                  NaN                     NaN
4         0001GRE           y      0: MRI negative                     NaN
...           ...         ...                  ...                     ...
1436      0277GRE           n        10: Resection              49 123 130
1437      0278GRE           n  2.2: Polymicrogyria               55 157 91
1438      0280GRE           y      0: MRI negative                     NaN
1439      0281GRE           y      0: MRI negative                     NaN
1440      0282GRE           y      0: MRI negative                     NaN

[1441 rows x 4 columns]

In [94]:
df_cross_entropy = pd.read_csv("/neurospin/tmp/fred/models/2025-11-10/SC-sylv_right_UKB_16-20-03_123/PEPR_Marseille/Reconstruction_error.csv")

In [95]:
df_cross_entropy

            Unnamed: 0            0
0     0001BAR_27112016  2398.638672
1     0001BUC_17062014  3461.456299
2     0001FLO_02052012  3145.983887
3     0001FRE_16032015  2839.419434
4     0001GRE_25112014  3589.877930
...                ...          ...
1030  0269GRE_07122021  4711.532715
1031  0270GRE_22012022  4372.996582
1032  0271GRE_19012022  3350.373291
1033  0272GRE_22032022  3720.735596
1034  0273GRE_30032022  2904.081055

[1035 rows x 2 columns]

In [96]:
selected_index = np.load("/neurospin/dico/fred/Runs/01_betaVAE/Program/2023_jlaval_STSbabies/betaVAE/notebooks/fred/PEPR_Marseille/All the subjects/histogram_non_zero/index_to_save.npy")

In [97]:
selected_index_1 = []

In [98]:


for a in df_cross_entropy.iloc[:, 0]:
    if a=="0109GRE_10102016":
        selected_index_1.append(978)
    if a=="0109GRE_12112016":
        selected_index_1.append(979)
    if a=="0164ROT_29012018":
        selected_index_1.append(1158)
    if a=="0168ROT_01032018":
        selected_index_1.append(1172)
    if a=="0168ROT_17092018":
        selected_index_1.append(1173)

    id = a[:7]

    matches = df_PEPR.index[df_PEPR.iloc[:, 0].str[:7] == id]
    if len(matches) == 1:
        selected_index_1.append(matches[0])
    else:
        #print(len(matches))
        j=0
        for i in matches:
            c= len(df_PEPR.iloc[i, 0])
            if c==9:
                id  = a[:7] + a[-2:]
                if df_PEPR.iloc[i, 0]==id:
                    selected_index_1.append(i)
                    j+=1
            elif c==11:
                id = a[:7]+ a[10:12]+a[-2:]
                if df_PEPR.iloc[i, 0]==id:
                    selected_index_1.append(i)
                    j+=1
            elif c==10:
                id = a[:7]+ a[11]+a[-2:]
                if df_PEPR.iloc[i, 0]==id:
                    selected_index_1.append(i)
                    j+=1
            elif c==7:
                selected_index_1.append(747)
                j+=1
selected_index_1= np.array(selected_index_1)

In [99]:
len(selected_index_1)

1035

In [100]:
len(np.unique(selected_index_1))

1035

In [101]:
df_cross_entropy = df_cross_entropy.loc[selected_index].reset_index(drop=True)

In [102]:
df_PEPR= df_PEPR.loc[selected_index_1].reset_index(drop=True) #1 ere sélection
df_PEPR= df_PEPR.loc[selected_index].reset_index(drop=True) #2e sélection

In [103]:
df_PEPR

,Patient Code,MR negative,Lesion type,Position (Intranat XYZ)
0,0001BAR,y,0: MRI negative,NaN
1,0001FLO,n,2.1: FCD,70 70 98
2,0001HUH18,y,0: MRI negative,NaN
3,0001KCH,y,NaN,NaN
4,0001LYO,n,1: HS,114 146 125
...,...,...,...,...
820,0265GRE13,y,0: MRI negative,NaN
821,0266GRE,n,6.1: Cerebral cavernous malformation,88 185 44
822,0268GRE,y,0: MRI negative,NaN
823,0272GRE,y,0: MRI negative,NaN
824,0273GRE,y,0: MRI negative,NaN

In [104]:
df_cross_entropy

           Unnamed: 0            0
0    0001BAR_27112016  2398.638672
1    0001FLO_02052012  3145.983887
2    0001HUH_30112018  3049.438965
3    0001KCH_08042010  2422.939941
4    0001LYO_19012015  2544.878662
..                ...          ...
820  0265GRE_08102013  3865.254639
821  0266GRE_29092021  3136.121094
822  0268GRE_30112021  4527.695312
823  0272GRE_22032022  3720.735596
824  0273GRE_30032022  2904.081055

[825 rows x 2 columns]

In [124]:
df_PEPR.iloc[750]

Patient Code                0183GRE
MR negative                       n
Lesion type                2.1: FCD
Position (Intranat XYZ)           ?
Name: 750, dtype: object

In [106]:
df_negative = df_PEPR[
    df_PEPR["Lesion type"].str.endswith("negative", na=False)
]

In [107]:
df_negative

    Patient Code MR negative      Lesion type Position (Intranat XYZ)
0        0001BAR           y  0: MRI negative                     NaN
2      0001HUH18           y  0: MRI negative                     NaN
9        0002MAR           y  0: MRI negative                     NaN
10     0002NEC15           y  0: MRI negative                     NaN
11       0003BAR           y  0: MRI negative                     NaN
..           ...         ...              ...                     ...
818  0263GRE0621           y  0: MRI negative                     NaN
820    0265GRE13           y  0: MRI negative                     NaN
822      0268GRE           y  0: MRI negative                     NaN
823      0272GRE           y  0: MRI negative                     NaN
824      0273GRE           y  0: MRI negative                     NaN

[523 rows x 4 columns]

In [108]:
df_PEPR

,Patient Code,MR negative,Lesion type,Position (Intranat XYZ)
0,0001BAR,y,0: MRI negative,NaN
1,0001FLO,n,2.1: FCD,70 70 98
2,0001HUH18,y,0: MRI negative,NaN
3,0001KCH,y,NaN,NaN
4,0001LYO,n,1: HS,114 146 125
...,...,...,...,...
820,0265GRE13,y,0: MRI negative,NaN
821,0266GRE,n,6.1: Cerebral cavernous malformation,88 185 44
822,0268GRE,y,0: MRI negative,NaN
823,0272GRE,y,0: MRI negative,NaN
824,0273GRE,y,0: MRI negative,NaN

In [109]:
idx = df_PEPR.index[df_PEPR["Lesion type"].str.endswith("negative", na=False)]
idx

Index([  0,   2,   9,  10,  11,  15,  19,  20,  22,  25,
       ...
       813, 814, 815, 816, 817, 818, 820, 822, 823, 824],
      dtype='int64', length=523)

In [110]:
idx= idx.to_numpy()

In [111]:
np.save("Idexe_irm_negative", idx)

En plus des IRM_negative, on cherche les indexe des autres sujets qui n'ont pas de valeur de Position ou qui ont deux positions

In [112]:
mask = (
    df_PEPR.iloc[:,-1].notna() 
)

In [113]:
len(mask)

825

In [114]:
mask

0      False
1       True
2      False
3      False
4       True
       ...
820    False
821     True
822    False
823    False
824    False
Name: Position (Intranat XYZ), Length: 825, dtype: bool

In [115]:
idx_no_position=  df_PEPR.index[~mask]

In [116]:
idx2 = df_PEPR.index[df_PEPR["MR negative"]=="y"]

In [117]:
idx_no_position= np.unique(np.hstack((idx_no_position, idx2)))

In [118]:



np.save("Index_No_Position", idx_no_position)

In [119]:
len(idx_no_position)

542

In [120]:
idx_no_position

array([  0,   2,   3,   9,  10,  11,  15,  19,  20,  21,  22,  24,  25,
        26,  28,  29,  30,  32,  33,  35,  38,  39,  41,  42,  43,  46,
        49,  50,  52,  54,  55,  57,  58,  59,  61,  65,  66,  67,  69,
        70,  71,  74,  75,  76,  77,  81,  83,  84,  85,  86,  89,  93,
        94,  95,  97,  98, 100, 104, 108, 109, 110, 112, 113, 114, 116,
       117, 119, 121, 122, 123, 124, 127, 129, 130, 132, 133, 135, 136,
       137, 138, 140, 141, 142, 143, 144, 146, 147, 148, 149, 152, 153,
       154, 155, 156, 158, 160, 162, 163, 164, 167, 168, 170, 171, 176,
       178, 180, 183, 184, 186, 187, 188, 189, 190, 191, 192, 194, 195,
       196, 199, 201, 203, 204, 205, 206, 207, 208, 209, 211, 213, 214,
       216, 217, 220, 221, 222, 223, 225, 226, 227, 229, 230, 231, 232,
       233, 234, 236, 237, 238, 239, 240, 241, 248, 250, 251, 252, 253,
       256, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 277,
       278, 279, 281, 282, 283, 284, 285, 289, 290, 291, 292, 295, 296,
       298, 300, 301, 302, 303, 304, 305, 306, 308, 309, 311, 314, 316,
       317, 320, 321, 322, 325, 327, 328, 330, 331, 333, 335, 336, 337,
       338, 339, 340, 341, 342, 344, 345, 349, 350, 353, 354, 356, 359,
       360, 361, 362, 364, 365, 366, 367, 368, 369, 371, 372, 377, 378,
       379, 380, 381, 384, 387, 388, 391, 393, 394, 395, 396, 397, 399,
       400, 401, 402, 403, 407, 409, 410, 411, 413, 414, 416, 419, 420,
       421, 422, 423, 424, 426, 427, 429, 430, 431, 434, 435, 436, 437,
       438, 440, 441, 442, 443, 444, 445, 446, 447, 449, 450, 451, 452,
       453, 454, 455, 456, 457, 459, 460, 461, 462, 463, 466, 467, 470,
       471, 472, 473, 474, 475, 476, 477, 478, 481, 483, 484, 485, 486,
       488, 489, 490, 491, 492, 493, 494, 495, 497, 498, 500, 501, 502,
       503, 504, 505, 506, 509, 510, 511, 512, 516, 517, 518, 519, 520,
       522, 526, 529, 530, 531, 533, 535, 536, 537, 538, 539, 540, 542,
       543, 544, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 559,
       560, 561, 563, 564, 565, 567, 570, 572, 574, 575, 576, 577, 578,
       579, 580, 581, 582, 583, 584, 587, 589, 590, 591, 592, 594, 595,
       598, 601, 602, 603, 605, 607, 608, 610, 613, 614, 615, 616, 620,
       621, 623, 624, 629, 630, 631, 632, 636, 640, 642, 643, 646, 648,
       650, 651, 652, 654, 655, 656, 657, 658, 659, 661, 663, 665, 667,
       668, 669, 670, 671, 673, 674, 676, 677, 678, 679, 681, 682, 683,
       684, 686, 687, 691, 693, 695, 696, 697, 698, 700, 701, 702, 703,
       704, 705, 708, 710, 711, 713, 714, 715, 716, 717, 718, 719, 721,
       722, 723, 724, 727, 728, 730, 732, 733, 734, 735, 738, 739, 741,
       742, 744, 745, 748, 749, 752, 753, 754, 755, 756, 757, 758, 760,
       764, 765, 766, 767, 768, 770, 772, 775, 776, 777, 779, 780, 781,
       782, 783, 784, 785, 787, 789, 790, 791, 793, 794, 795, 796, 797,
       798, 799, 800, 801, 802, 803, 805, 806, 807, 809, 811, 812, 813,
       814, 815, 816, 817, 818, 820, 822, 823, 824])