Le but de ce notebbok est de trouver des sujets dont le type de Mésion est Résection afin de visualiser leur graphe

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df_PEPR = pd.read_csv("/neurospin/dico/data/human/PEPR_Marseille/PourTheotime.tsv", sep="\t")

In [4]:
df_PEPR

     Patient Code MR negative          Lesion type Position (Intranat XYZ)
0         0001BAR           y      0: MRI negative                     NaN
1         0001BUC           y      0: MRI negative                     NaN
2         0001FLO           n             2.1: FCD                70 70 98
3         0001FRE           y                  NaN                     NaN
4         0001GRE           y      0: MRI negative                     NaN
...           ...         ...                  ...                     ...
1436      0277GRE           n        10: Resection              49 123 130
1437      0278GRE           n  2.2: Polymicrogyria               55 157 91
1438      0280GRE           y      0: MRI negative                     NaN
1439      0281GRE           y      0: MRI negative                     NaN
1440      0282GRE           y      0: MRI negative                     NaN

[1441 rows x 4 columns]

In [5]:
df_cross_entropy = pd.read_csv("/neurospin/tmp/fred/models/2025-11-10/SC-sylv_right_UKB_16-20-03_123/PEPR_Marseille/Reconstruction_error.csv")

In [6]:
df_cross_entropy

            Unnamed: 0            0
0     0001BAR_27112016  2398.638672
1     0001BUC_17062014  3461.456299
2     0001FLO_02052012  3145.983887
3     0001FRE_16032015  2839.419434
4     0001GRE_25112014  3589.877930
...                ...          ...
1030  0269GRE_07122021  4711.532715
1031  0270GRE_22012022  4372.996582
1032  0271GRE_19012022  3350.373291
1033  0272GRE_22032022  3720.735596
1034  0273GRE_30032022  2904.081055

[1035 rows x 2 columns]

In [7]:
selected_index = np.load("/neurospin/dico/fred/Runs/01_betaVAE/Program/2023_jlaval_STSbabies/betaVAE/notebooks/fred/PEPR_Marseille/All the subjects/histogram_non_zero/index_to_save.npy")

In [8]:
selected_index_1 = []

In [9]:


for a in df_cross_entropy.iloc[:, 0]:
    if a=="0109GRE_10102016":
        selected_index_1.append(978)
    if a=="0109GRE_12112016":
        selected_index_1.append(979)
    if a=="0164ROT_29012018":
        selected_index_1.append(1158)
    if a=="0168ROT_01032018":
        selected_index_1.append(1172)
    if a=="0168ROT_17092018":
        selected_index_1.append(1173)

    id = a[:7]

    matches = df_PEPR.index[df_PEPR.iloc[:, 0].str[:7] == id]
    if len(matches) == 1:
        selected_index_1.append(matches[0])
    else:
        #print(len(matches))
        j=0
        for i in matches:
            c= len(df_PEPR.iloc[i, 0])
            if c==9:
                id  = a[:7] + a[-2:]
                if df_PEPR.iloc[i, 0]==id:
                    selected_index_1.append(i)
                    j+=1
            elif c==11:
                id = a[:7]+ a[10:12]+a[-2:]
                if df_PEPR.iloc[i, 0]==id:
                    selected_index_1.append(i)
                    j+=1
            elif c==10:
                id = a[:7]+ a[11]+a[-2:]
                if df_PEPR.iloc[i, 0]==id:
                    selected_index_1.append(i)
                    j+=1
            elif c==7:
                selected_index_1.append(747)
                j+=1
selected_index_1= np.array(selected_index_1)

In [10]:
len(selected_index_1)

1035

In [11]:
len(np.unique(selected_index_1))

1035

In [12]:
df_cross_entropy = df_cross_entropy.loc[selected_index].reset_index(drop=True)

In [13]:
df_PEPR= df_PEPR.loc[selected_index_1].reset_index(drop=True) #1 ere sélection
df_PEPR= df_PEPR.loc[selected_index].reset_index(drop=True) #2e sélection

In [14]:
df_PEPR

,Patient Code,MR negative,Lesion type,Position (Intranat XYZ)
0,0001BAR,y,0: MRI negative,NaN
1,0001FLO,n,2.1: FCD,70 70 98
2,0001HUH18,y,0: MRI negative,NaN
3,0001KCH,y,NaN,NaN
4,0001LYO,n,1: HS,114 146 125
...,...,...,...,...
820,0265GRE13,y,0: MRI negative,NaN
821,0266GRE,n,6.1: Cerebral cavernous malformation,88 185 44
822,0268GRE,y,0: MRI negative,NaN
823,0272GRE,y,0: MRI negative,NaN
824,0273GRE,y,0: MRI negative,NaN

In [15]:
df_cross_entropy

           Unnamed: 0            0
0    0001BAR_27112016  2398.638672
1    0001FLO_02052012  3145.983887
2    0001HUH_30112018  3049.438965
3    0001KCH_08042010  2422.939941
4    0001LYO_19012015  2544.878662
..                ...          ...
820  0265GRE_08102013  3865.254639
821  0266GRE_29092021  3136.121094
822  0268GRE_30112021  4527.695312
823  0272GRE_22032022  3720.735596
824  0273GRE_30032022  2904.081055

[825 rows x 2 columns]

In [16]:
df_resection = df_PEPR[
    df_PEPR["Lesion type"].str.endswith("Polymicrogyria", na=False)
]

In [17]:
df_resection

    Patient Code MR negative          Lesion type    Position (Intranat XYZ)
60       0006PLS           n  2.2: Polymicrogyria                  74 168 96
145      0011VAL           n  2.2: Polymicrogyria                  61 105 79
351      0026REN           n  2.2: Polymicrogyria  103 135 113 / 133 135 112
469      0043MIL           n  2.2: Polymicrogyria                127 161 102
524      0061MIL           n  2.2: Polymicrogyria     67 167 78 / 96 167 78
635      0112MIL           n  2.2: Polymicrogyria                  64 161 74
712      0152ROT           n  2.2: Polymicrogyria                 124 161 78
729      0166GRE           n  2.2: Polymicrogyria                 107 207 75
804      0247GRE           n  2.2: Polymicrogyria     54 144 72 / 105 146 74

In [18]:
df_resection.iloc[1]

Patient Code                           0011VAL
MR negative                                  n
Lesion type                2.2: Polymicrogyria
Position (Intranat XYZ)              61 105 79
Name: 145, dtype: object